@mixin headerItem {
    font-size: 3rem;
    text-transform: uppercase;
    border: 1px solid $headerColor;
    border-radius: 1rem;
    background-color:$headerBackgroundColor;
    color:$headerColor;
    transition: .2s ease-in-out;
}

@mixin activeItem {
    color: $headerActiveColor;
    border-color: $headerActiveColor;
    box-shadow: 0 0 1rem .1rem $headerActiveColor;
}