html {
  font-size: 10px;
}

body {
  background-image: url(../images/background.png);
  background-position: center;
}

.container {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

.title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  font-size: 7rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color: #0FC0FC;
  -webkit-animation: colorTitle 4s linear 1 forwards;
          animation: colorTitle 4s linear 1 forwards;
}

@-webkit-keyframes colorTitle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes colorTitle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header {
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  opacity: 0;
}

.header .header__title {
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1rem;
  text-transform: uppercase;
  color: #0FC0FC;
  -webkit-animation: opacityTitle 3s linear infinite forwards;
          animation: opacityTitle 3s linear infinite forwards;
}

.header .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4rem;
  font-weight: bold;
}

.header .header__list .list__item {
  margin: 1rem;
  padding: 1.7rem 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  border: 1px solid red;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header .header__list .list__item:hover {
  color: #00FF00;
  border-color: #00FF00;
}

.header .header__list .list__item--active {
  color: #00FF00;
  border-color: #00FF00;
  -webkit-box-shadow: 0 0 1rem 0.1rem #00FF00;
          box-shadow: 0 0 1rem 0.1rem #00FF00;
}

.header .header__button {
  padding: 1.7rem 2rem;
  font-size: 3rem;
  text-transform: uppercase;
  border: 1px solid red;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header .header__button--active {
  color: #00FF00;
  border-color: #00FF00;
  -webkit-box-shadow: 0 0 1rem 0.1rem #00FF00;
          box-shadow: 0 0 1rem 0.1rem #00FF00;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header .header__button--active:hover {
  -webkit-box-shadow: 0 0 1.2rem 0.2rem #00FF00;
          box-shadow: 0 0 1.2rem 0.2rem #00FF00;
}

@-webkit-keyframes opacityTitle {
  0% {
    opacity: .5;
    color: yellow;
  }
  50% {
    opacity: 1;
    color: #13caf8;
  }
  100% {
    opacity: 0.5;
    color: yellow;
  }
}

@keyframes opacityTitle {
  0% {
    opacity: .5;
    color: yellow;
  }
  50% {
    opacity: 1;
    color: #13caf8;
  }
  100% {
    opacity: 0.5;
    color: yellow;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 7px;
  }
}
/*# sourceMappingURL=style.css.map */