@import "../partial/variables";
@import "../partial/mixins";

html{
    font-size: 10px;
}

body{
    background-image: url(../images/background.png);
    background-position: center;
}

.container{
    position: relative;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.title{
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 1rem;
    color:#0FC0FC;
    animation: colorTitle 4s linear 1 forwards;
}

@keyframes colorTitle {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.header {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    .header__title{
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: 1rem;
        text-transform: uppercase;
        color: #0FC0FC;
        animation: opacityTitle 3s linear infinite forwards;
    }
    .header__list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 4rem;
        font-weight: bold;
        .list__item {
            margin: 1rem;
            padding: 1.7rem 2rem;
            @include headerItem;
            &:hover {
                color: $headerActiveColor;
                border-color: $headerActiveColor;
            }
        }
        .list__item--active{
            color: $headerActiveColor;
            border-color: $headerActiveColor;
            box-shadow: 0 0 1rem .1rem $headerActiveColor;
        }
    }
    .header__button{
        padding: 1.7rem 2rem;
        @include headerItem;
    }
    .header__button--active {
        color: $headerActiveColor;
        border-color: $headerActiveColor;
        box-shadow: 0 0 1rem .1rem $headerActiveColor;
        transition: .2s ease-in-out;
        &:hover {
            box-shadow: 0 0 1.2rem .2rem $headerActiveColor;
        }
    }
}

@keyframes opacityTitle {
    0%{
        opacity: .5;
        color: yellow;
    }
    50%{
        opacity: 1;
        color: rgb(19, 202, 248);
    }
    100%{
        opacity: 0.5;
        color: yellow;
    }
}
///////////~~~~SMALL SCREEN~~~~~////////////
@media screen and (min-width: 576px) and (max-width: 768px) {
    html{
        font-size: 8px;
    }
}
///////////~~~~X-SMALL SCREEN~~~~~////////////
@media screen and (max-width: 575px) {
    html{
        font-size: 7px;
    }
}